body {
    text-align: center;
    touch-action: manipulation;
}

h1 {
}

canvas {
    border: 5px solid blue;
    background-color: black;
    border-radius: 15px;
}

#start {
    text-align: center;
    height: 100px;
    width: 200px;
    font-size: 20px;
    border-radius: 20px;
}

.direction {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-position: center;
    text-indent: -9999px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
}

#gauche {
    background-image: url("../img/gauche.png");
}

#droite {
    background-image: url("../img/droite.png");
}